Repository Xaiver03/openpenpal-new: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, write-service, ocr-service, admin-service

codecov.yml:

# Codecov配置文件
codecov:
  require_ci_to_pass: true
  max_report_age: 24

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        
      frontend:
        target: 75%
        paths:
          - frontend/
          
      backend:
        target: 80%
        paths:
          - backend/
          - services/courier-service/
          
      python-services:
        target: 70%
        paths:
          - services/write-service/
          - services/ocr-service/
          
      java-services:
        target: 70%
        paths:
          - services/admin-service/
    
    patch:
      default:
        target: 80%
        threshold: 5%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  frontend:
    paths:
      - frontend/
    carryforward: true
    
  backend:
    paths:
      - backend/
      - services/courier-service/
    carryforward: true
    
  write-service:
    paths:
      - services/write-service/
    carryforward: true
    
  ocr-service:
    paths:
      - services/ocr-service/
    carryforward: true
    
  admin-service:
    paths:
      - services/admin-service/
    carryforward: true

ignore:
  - "**/*_test.go"
  - "**/test_*.py"
  - "**/*.test.{js,jsx,ts,tsx}"
  - "**/mocks/**"
  - "**/vendor/**"
  - "**/node_modules/**"

feat: implement comprehensive follow/follower system with SOTA architecture
  frontend/src/app/(main)/read/[code]/page.tsx
  frontend/src/app/plaza/page.tsx
  frontend/src/components/follow/follow-button.tsx
  frontend/src/components/follow/follow-list.tsx
  frontend/src/components/follow/follow-stats.tsx
  frontend/src/components/follow/index.ts
  frontend/src/components/follow/user-card.tsx
  frontend/src/components/follow/user-suggestions.tsx
  frontend/src/stores/follow-store.ts
  frontend/src/types/follow.ts
Due: frontend

fix: resolve frontend-backend consistency issues
  backend/internal/models/user.go
  frontend/src/lib/utils/react-optimizer.ts
  frontend/src/types/letter.ts
  frontend/src/types/user.ts
Due: frontend, backend

fix: resolve CSRF token race condition and authentication conflicts
  frontend/package-lock.json
  frontend/src/app/api/auth/csrf/route.ts
  frontend/src/app/api/auth/login/route.ts
  frontend/src/app/layout.tsx
  frontend/src/app/plaza/page.tsx
  frontend/src/contexts/auth-context-new.tsx
  frontend/src/stores/user-store.ts
Due: frontend

feat: implement public user profile pages (/u/username)
  CLAUDE.md
  backend/internal/routes/api_aliases.go
  frontend/src/app/api/users/[username]/letters/route.ts
  frontend/src/app/api/users/[username]/profile/route.ts
  frontend/src/app/u/[username]/page.tsx
  frontend/src/components/layout/header.tsx
  test-user-page.js
Due: frontend, backend

feat: enhance user profile page with level badges and OP Code integration
  backend/internal/routes/api_aliases.go
  frontend/src/app/u/[username]/page.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/user/level-badge.tsx
  frontend/src/components/user/opcode-display.tsx
  test-user-page.js
Due: frontend, backend

feat: implement real database integration for user profiles
  backend/cmd/migrate-profiles/main.go
  backend/cmd/update-alice-profile/main.go
  backend/internal/handlers/user_profile_handler.go
  backend/internal/models/user_profile.go
  backend/internal/routes/api_aliases.go
  backend/internal/services/user_profile_service.go
  backend/main.go
  backend/migrations/002_add_user_profile_fields.sql
Due: backend

chore: add tests README and fix comment-list component
  frontend/src/components/comments/comment-list.tsx
  tests/README.md
Due: frontend

feat: Complete AI Service Fusion with SOTA Architecture
  ADMIN_SYSTEM_UNIFICATION_DESIGN.md
  AI_SERVICE_FUSION_PLAN.md
  backend/cmd/migrate-ai-configs/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/adapters/admin_adapter.go
  backend/internal/config/database_postgres.go
  backend/internal/config/index_optimization.go
  backend/internal/config/migration_extended.go
  backend/internal/handlers/ai_handler.go
  backend/internal/handlers/barcode_handler.go
  backend/internal/handlers/opcode_handler.go
  backend/internal/handlers/scan_event_handler.go
  backend/internal/models/ai.go
  backend/internal/models/courier.go
  backend/internal/models/letter.go
  backend/internal/models/scan_event.go
  backend/internal/services/ai_service_sota.go
  backend/internal/services/ai_service_unified.go
  backend/internal/services/config_service.go
  backend/internal/services/letter_service.go
  backend/internal/services/opcode_service.go
  backend/internal/services/scan_event_service.go
  backend/main.go
  backend/tools/generate_hash.go
  frontend/src/app/(main)/read/[code]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/plaza/page.tsx
  frontend/src/app/u/[username]/page.tsx
  frontend/src/components/comments/comment-list.tsx
  frontend/src/components/error-boundary/enhanced-error-boundary.tsx
  frontend/src/components/follow/follow-list.tsx
  frontend/src/components/follow/follow-stats.tsx
  frontend/src/components/follow/user-card.tsx
  frontend/src/components/follow/user-suggestions.tsx
  frontend/src/lib/utils/error-handler.ts
  frontend/src/stores/follow-store.ts
  frontend/src/types/user.ts
Due: frontend, backend

feat: Final SOTA system unification and admin integration
  backend/internal/services/service_extensions.go
  backend/main.go
  services/admin-service/frontend/.env.development
  services/admin-service/frontend/.env.production
  services/admin-service/frontend/src/utils/api.ts
Due: backend, admin-service

feat: Complete SOTA admin system unification with enhanced Go backend
  backend/internal/adapters/admin_adapter.go
  backend/internal/services/service_extensions.go
Due: backend

docs: Add comprehensive AI subsystem code analysis report
  docs/reports/AI子系统代码现状分析报告.md
Due: none

feat: Extend cloud letter service with user-controlled features
  frontend/src/components/ai/cloud-letter-companion.tsx
Due: frontend

docs: Complete personal homepage PRD and implementation status documentation
  CLAUDE.md
  PRD-NEW/子模块PRD/个人主页PRD.md
  docs/product/implementation-status-2025-08-14.md
Due: none

feat: Implement comprehensive delay time picker for AI matching
  backend/internal/models/ai.go
  backend/internal/services/ai_service_unified.go
  frontend/package.json
  frontend/src/components/ai/ai-penpal-match.tsx
  frontend/src/components/ai/delay-time-picker.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/lib/services/ai-service.ts
Due: frontend, backend

feat: Enhance delay time picker UI/UX with humanized interactions
  backend/internal/handlers/follow_handler.go
  backend/internal/models/follow.go
  backend/internal/services/follow_service.go
  backend/main.go
  backend/migrations/003_create_follow_system.sql
  backend/test-follow-system.js
  frontend/src/components/ai/delay-time-picker.tsx
Due: frontend, backend

docs: Update AI subsystem PRD and implementation status for delay time picker
  docs/product/implementation-status-2025-08-14.md
  docs/product/prd/subsystem/ai-subsystem-prd.md
Due: none

feat: Complete comprehensive privacy settings system
  backend/go.mod
  backend/internal/config/database_postgres.go
  backend/internal/config/migration_extended.go
  backend/internal/handlers/follow_handler.go
  backend/internal/handlers/privacy_handler.go
  backend/internal/models/ai.go
  backend/internal/models/privacy.go
  backend/internal/models/user.go
  backend/internal/services/ai_service_unified.go
  backend/internal/services/letter_service.go
  backend/internal/services/privacy_service.go
  backend/main.go
  backend/migrations/004_create_privacy_system.sql
  frontend/package-lock.json
  frontend/src/app/(main)/bind/page.tsx
  frontend/src/app/(main)/courier/batch/page.tsx
  frontend/src/app/(main)/courier/page.tsx
  frontend/src/app/(main)/settings/privacy/page.tsx
  frontend/src/app/(main)/shop/page.tsx
  frontend/src/components/courier/BarcodePreview.tsx
  frontend/src/components/courier/BatchManagementPage.tsx
  frontend/src/components/profile/privacy-settings.tsx
  frontend/src/components/profile/profile-privacy-integration.tsx
  frontend/src/types/privacy.ts
Due: frontend, backend

feat: Implement comprehensive security middleware enhancements
  backend/internal/middleware/csrf.go
  backend/internal/middleware/rate_limiter_enhanced.go
  backend/internal/security/csrf/enhanced_csrf.go
  backend/internal/security/init.go
  backend/internal/security/ratelimit/adaptive_limiter.go
  backend/internal/security/secrets/jwt_manager.go
  backend/internal/security/validation/input_validator.go
  backend/main_security_example.go
  docs/security/SECURITY_MIGRATION_GUIDE.md
Due: backend

fix: Remove CSRF login bypass that was accidentally re-added
  backend/internal/handlers/follow_handler.go
  backend/internal/models/follow.go
  backend/internal/security/env/secure_config.go
  backend/internal/services/follow_service.go
  backend/main.go
  docs/product/fsd/subsystem/barcode-system-fsd.md
  docs/product/prd/core/openpenpal-prd-v1.0.md
  frontend/cookies.txt
  frontend/src/app/layout.tsx
  frontend/src/components/providers/client-providers.tsx
  services/courier-service/internal/middleware/auth.go
  services/courier-service/internal/middleware/cors.go
  services/courier-service/internal/middleware/courier_auth.go
  services/courier-service/internal/models/postal_code.go
  services/courier-service/internal/models/task.go
  services/courier-service/internal/monitoring/alerting.go
  services/courier-service/internal/services/assignment.go
  services/courier-service/internal/services/courier_growth.go
  services/courier-service/internal/services/courier_level.go
  services/courier-service/internal/services/hierarchical_assignment.go
  services/courier-service/internal/services/location.go
  services/courier-service/internal/services/postal_management.go
  services/courier-service/internal/services/task.go
  services/gateway/internal/middleware/middleware.go
  services/gateway/internal/proxy/proxy.go
  services/gateway/internal/router/router.go
Due: frontend, backend

feat: Implement SOTA task scheduler enhancements for FSD compliance
  backend/internal/handlers/cloud_letter_handler.go
  backend/internal/handlers/comment_handler_sota.go
  backend/internal/models/cloud_letter.go
  backend/internal/services/cloud_letter_service.go
  backend/internal/services/comment_service_sota.go
  backend/internal/services/distributed_lock.go
  backend/internal/services/event_signature.go
  backend/internal/services/future_letter_service.go
  backend/internal/services/scheduler_integration_test.go
  backend/internal/services/scheduler_service_enhanced.go
  backend/internal/services/scheduler_tasks.go
  docs/migration/scheduler-sota-migration-strategy.md
  frontend/src/components/profile/profile-comments-sota.tsx
  frontend/src/hooks/useCommentsSOTA.ts
  frontend/src/types/comment-sota.ts
  monitoring/dashboards/scheduler-automation-dashboard.json
  monitoring/prometheus/scheduler-alerts.yml
Due: frontend, backend

fix: Resolve React hydration errors and build issues
  backend/e2e-validation-report.md
  backend/go.mod
  backend/go.sum
  backend/internal/config/redis.go
  backend/internal/handlers/credit_limit_admin_handler.go
  backend/internal/handlers/credit_limit_handler.go
  backend/internal/handlers/validation_handler.go
  backend/internal/middleware/metrics_middleware.go
  backend/internal/middleware/request_id.go
  backend/internal/middleware/security_monitoring.go
  backend/internal/models/comment.go
  backend/internal/models/credit_limit.go
  backend/internal/services/credit_limiter_service.go
  backend/internal/services/credit_task_service.go
  backend/internal/services/enhanced_fraud_detector.go
  backend/internal/services/event_signature.go
  backend/main.go
  backend/migrations/20240121_add_credit_limit_tables.sql
  backend/scripts/e2e_security_validator.go
  backend/scripts/security_test_report.json
  backend/scripts/security_validation.sh
  backend/scripts/test_phase_1_2.sh
  backend/scripts/test_phase_1_3.sh
  backend/test-admin-api.js
  backend/test_credit_limits.go
  backend/verify-frontend-fixes.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(main)/bind/page.tsx
  frontend/src/app/plaza/page.tsx
  frontend/src/components/providers/client-boundary.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/stores/credit-store.ts
  package-lock.json
  package.json
Due: frontend, backend

fix: Update delay queue service final implementation
  backend/internal/services/delay_queue_service_fixed.go
Due: backend

fix: Complete final file synchronization and add network gateway
  backend/internal/platform/security/network_gateway.go
  backend/internal/services/delay_queue_service_fixed.go
  scripts/deploy-log-fixes.sh
Due: backend

feat: Implement fuzzy search for university selection in OP Code system
  frontend/src/app/api/schools/fuzzy-search/route.ts
  frontend/src/app/layout.tsx
  frontend/src/app/opcode/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/home/authenticated-sections.tsx
  frontend/src/components/home/join-us-section.tsx
  frontend/src/components/providers/user-initializer.tsx
  frontend/src/stores/user-store.ts
  services/write-service/app/core/config.py
Due: frontend, write-service

feat: Complete OP Code management system with comprehensive permission controls
  backend/internal/middleware/opcode_permission.go
  backend/internal/middleware/permission.go
  frontend/src/app/(main)/courier/opcode-manage/page.tsx
  frontend/src/app/(main)/courier/page.tsx
  frontend/src/app/api/schools/buildings/route.ts
  frontend/src/app/api/schools/delivery-points/route.ts
  frontend/src/app/api/schools/districts/route.ts
  frontend/src/app/opcode/page.tsx
  frontend/src/components/courier/opcode/BuildingManagement.tsx
  frontend/src/components/courier/opcode/DeliveryPointManagement.tsx
  frontend/src/components/courier/opcode/DistrictManagement.tsx
  frontend/src/components/courier/opcode/OPCodeOverview.tsx
Due: frontend, backend

feat: Complete OP Code system integration across all admin interfaces
  CLAUDE.md
  README.md
  TESTING_GUIDE.md
  backend/internal/config/migration_hooks.go
  backend/internal/models/credit_transfer.go
  backend/internal/monitoring/metrics_collector.go
  docs/test-accounts/README.md
  frontend/src/app/admin/couriers/page.tsx
  frontend/src/app/admin/couriers/tasks/page.tsx
  frontend/src/app/admin/letters/page.tsx
  frontend/src/app/admin/opcodes/page.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/types/models-sync.ts
  go.mod
  go.sum
  scripts/update-passwords-secure.go
  scripts/update-passwords-secure.sh
  scripts/update-test-account-passwords.sql
  scripts/update-test-passwords.sh
Due: frontend, backend

fix: Remove all hardcoded mock data from admin interfaces
  frontend/src/app/admin/ai/page.tsx
  frontend/src/app/admin/appointment/page.tsx
  frontend/src/app/admin/couriers/tasks/page.tsx
  frontend/src/app/admin/credits/page.tsx
  frontend/src/app/admin/moderation/page.tsx
  frontend/src/app/admin/opcodes/page.tsx
  frontend/src/app/admin/page-enhanced.tsx
  frontend/src/app/admin/users/page.tsx
Due: frontend

feat: Implement courier OP Code management with proper permissions
  backend/internal/handlers/courier_opcode_handler.go
  backend/internal/services/opcode_service.go
  backend/main.go
  frontend/src/app/courier/layout.tsx
  frontend/src/app/courier/opcode-manage/page.tsx
  frontend/src/app/courier/page.tsx
Due: frontend, backend
