Repository Xaiver03/openpenpal-new: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, write-service, ocr-service, admin-service

fix: resolve CI/CD pipeline failures
  .github/workflows/ci.yml
  docker-compose.test.yml
  services/write-service/tests/__init__.py
  services/write-service/tests/test_basic.py
Due: write-service

fix: make CI/CD checks pass with temporary workarounds
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  frontend/next.config.js
Due: frontend

docs: add frontend proxy fix documentation
  frontend-proxy-fix.md
Due: none

ci: add simplified CI/CD workflows
  .github/workflows/ci-minimal.yml
  .github/workflows/ci-simple.yml
Due: none

fix: comprehensive CI/CD pipeline fixes to ensure all checks pass
  .github/workflows/cd.yml
  .github/workflows/ci-minimal.yml
  .github/workflows/ci-simple.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .golangci-simple.yml
Due: none

fix: correct implementation of Cloud Letter and Character Station features
  ai-features-fix-summary.md
  frontend/src/app/(main)/ai/page.tsx
  frontend/src/components/ai/character-station.tsx
  frontend/src/components/ai/unreachable-companion.tsx
Due: frontend

fix: add missing Slider component and dependency
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/slider.tsx
Due: frontend

fix: update frontend proxy to connect directly to backend in demo mode
  backend/cookies.txt
  frontend/next.config.js
Due: frontend, backend

feat: add Postcode system navigation entry
  frontend/src/components/layout/header.tsx
  postcode-system-summary.md
Due: frontend

feat: optimize navigation bar with tools dropdown menu
  frontend/src/components/layout/header.tsx
  navigation-optimization-options.md
Due: frontend

feat: consolidate user menu into dropdown
  frontend/src/components/layout/header.tsx
Due: frontend

refactor: move Postcode to user menu and restore Museum to main nav
  frontend/src/components/layout/header.tsx
Due: frontend

feat: add user avatar to navigation dropdown
  frontend/src/components/layout/header.tsx
Due: frontend

feat: implement complete avatar system with upload functionality
  backend/internal/handlers/user_handler.go
  backend/internal/services/user_service.go
  backend/main.go
  create-museum-data-final.js
  create-museum-data-v2.js
  create-museum-entries.js
  create-museum-mock-data.js
  create-museum-simple.js
  frontend/src/app/(main)/profile/page.tsx
  frontend/src/components/profile/avatar-upload.tsx
Due: frontend, backend

fix: change relationship field from dropdown to text input in Cloud Letter
  frontend/src/components/ai/unreachable-companion.tsx
Due: frontend

feat: implement unified courier hierarchy and shared task system
  backend/internal/config/database.go
  backend/seeds/fix_courier_hierarchy.sql
  backend/seeds/init_courier_system.go
  backend/seeds/initialize_courier_hierarchy.sql
  test-courier-database-consistency.js
Due: backend

feat: implement complete admin user editing functionality
  backend/internal/config/database.go
  backend/internal/handlers/admin_handler.go
  backend/internal/models/user.go
  backend/internal/services/admin_service.go
  backend/main.go
  frontend/src/app/admin/users/page.tsx
Due: frontend, backend

feat: implement comprehensive authentication handler tests
  backend/internal/config/test_config.go
  backend/internal/handlers/auth_handler.go
  backend/internal/handlers/auth_handler_test.go
  backend/internal/testutils/helpers.go
  backend/internal/utils/response.go
Due: backend

feat: implement comprehensive letter service tests
  backend/internal/config/test_config.go
  backend/internal/services/letter_service_test.go
Due: backend

feat: implement letter handler tests with shared response format
  backend/internal/handlers/letter_handler_test.go
Due: none

fix: resolve letter handler test failures
  backend/go.mod
  backend/go.sum
  backend/internal/config/database.go.backup2
  backend/internal/handlers/auth_handler_test.go.example
  backend/internal/handlers/letter_handler.go
  backend/internal/models/role_mapping.go.backup3
  backend/internal/models/role_mapping.go.role_backup
  backend/internal/models/user.go
  backend/internal/services/auth_service_test.go.skip
  backend/internal/services/courier_service.go.role_backup
  backend/internal/services/courier_service_test.go.skip
  backend/internal/services/user_service.go
  backend/internal/websocket/client.go.role_backup
  backend/main.go
Due: backend

feat: implement courier system tests foundation
  backend/internal/handlers/courier_handler_simple_test.go
  backend/internal/handlers/courier_handler_test.go
  backend/internal/services/courier_service_simple_test.go
  backend/internal/services/courier_service_test.go.broken
Due: backend

feat: implement comprehensive TypeScript consistency fixes and SOTA improvements
  frontend/package.json
  frontend/src/app/(main)/deliver/page.tsx
  frontend/src/app/(main)/mailbox/page.tsx
  frontend/src/app/(main)/museum/entries/[id]/page.tsx
  frontend/src/app/(main)/profile/page.tsx
  frontend/src/app/(main)/read/[code]/page.tsx
  frontend/src/app/admin/couriers/page.tsx
  frontend/src/components/courier/CourierDashboard.test.tsx
  frontend/src/components/debug/user-debug-panel.tsx
  frontend/src/config/courier-test-accounts.ts
  frontend/src/constants/__tests__/roles.test.ts
  frontend/src/constants/roles.ts
  frontend/src/hooks/use-permission.ts
  frontend/src/lib/utils/error-handler.ts
  frontend/src/lib/utils/type-guards.ts
  frontend/src/middleware.ts
  frontend/src/stores/__tests__/user-store.test.ts
  frontend/src/types/courier.ts
  frontend/src/types/models-sync.ts
  frontend/src/types/user.ts
  frontend/src/utils/model-mappers.ts
Due: frontend

feat: implement museum system tests foundation
  backend/internal/services/museum_service_simple_test.go
  backend/internal/services/museum_service_test.go.broken
Due: backend

feat: implement comprehensive user service tests with 100% pass rate
  backend/internal/config/test_config.go
  backend/internal/services/user_service_test.go
Due: backend

feat: implement comprehensive admin service tests with 100% pass rate
  backend/internal/services/admin_service.go
  backend/internal/services/admin_service_test.go
Due: backend

feat: implement comprehensive museum service tests with 63% pass rate
  backend/internal/services/museum_service_comprehensive_test.go
Due: none

fix: resolve museum test database schema issues
  backend/internal/config/test_config.go
  backend/internal/models/museum.go
  backend/internal/services/museum_service.go
  backend/internal/services/museum_service_simple_test.go
  frontend/src/app/admin/users/page.tsx
  frontend/src/app/api/admin/permissions/route.ts
Due: frontend, backend

fix: systematic field naming and type consistency fixes
  frontend/src/app/admin/couriers/tasks/page.tsx
  frontend/src/app/admin/moderation/page.tsx
Due: frontend

fix: resolve user type mapping and field naming issues
  frontend/src/lib/utils/error-handler.ts
Due: frontend

fix: resolve all TypeScript errors and improve type safety
  frontend/src/app/admin/users/page.tsx
  frontend/src/app/api/auth/login/route-complex-backup.ts
  frontend/src/app/api/auth/login/route.ts
  frontend/src/app/api/auth/refresh/route.ts
  frontend/src/app/api/schools/route.ts
  frontend/src/app/api/schools/validate/route.ts
  frontend/src/app/page.tsx
  frontend/src/components/admin/permission-manager.tsx
  frontend/src/components/ai/character-station.tsx
  frontend/src/components/ai/unreachable-companion.tsx
  frontend/src/components/courier/growth/CourierGrowthPath.tsx
  frontend/src/components/courier/growth/PromotionApplication.tsx
  frontend/src/components/courier/growth/PromotionManagement.tsx
  frontend/src/components/debug/user-debug-panel.tsx
  frontend/src/components/ui/welcome-banner.tsx
  frontend/src/contexts/auth-context-new.tsx
  frontend/src/hooks/use-optimized-subscriptions.ts
  frontend/src/stores/__tests__/user-store.test.ts
  frontend/src/stores/courier-store.ts
  frontend/src/stores/user-store.ts
Due: frontend

feat: add SOTA utility modules for performance and caching
  frontend/src/lib/utils/cache-manager.ts
  frontend/src/lib/utils/performance-monitor.ts
Due: frontend

feat: 实现手写信图片上传功能到写信主流程
  docs-backup/ocr-integration-plan.md
  docs-backup/user-guide-complete.md
  docs-backup/user-journey-implementation-status.md
  frontend/src/app/(main)/museum/my-submissions/page.tsx
  frontend/src/app/(main)/museum/popular/page.tsx
  frontend/src/app/(main)/museum/tags/page.tsx
  frontend/src/app/(main)/write/page.tsx
  frontend/src/app/admin/appointment/page.tsx
  frontend/src/app/admin/moderation/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/app/api/auth/login/route.ts
  frontend/src/app/museum/contribute/page.tsx
  frontend/src/app/orders/page.tsx
  frontend/src/app/plaza/page.tsx
  frontend/src/components/ai/unreachable-companion.tsx
  frontend/src/components/courier/growth/PromotionManagement.tsx
  frontend/src/components/realtime/notification-center.tsx
  frontend/src/components/write/handwritten-upload.tsx
  frontend/src/hooks/use-realtime.ts
  frontend/src/stores/letter-store.ts
  frontend/src/types/letter.ts
  frontend/src/types/models-sync.ts
  frontend/src/types/museum.ts
Due: frontend

fix: complete TypeScript consistency fixes - 100% error resolution
  frontend/src/app/admin/moderation/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/write/handwritten-upload.tsx
  frontend/src/stores/letter-store.ts
  frontend/src/types/index.ts
Due: frontend

fix: 修复前后端交互中的API路径和字段名问题
  frontend/src/app/(main)/write/page.tsx
  frontend/src/components/write/handwritten-upload.tsx
Due: frontend

docs: 更正用户旅程实现状态，补充遗漏的博客功能检查
  docs-backup/user-journey-implementation-status.md
Due: none

feat: integrate comprehensive comment system with enhanced error handling
  frontend/src/app/(main)/read/[code]/page.tsx
  frontend/src/app/plaza/page.tsx
  frontend/src/components/error-boundary/enhanced-error-boundary.tsx
Due: frontend

feat: implement SOTA frontend performance optimizations
  frontend/src/app/(main)/mailbox/page.tsx
  frontend/src/app/plaza/page.tsx
  frontend/src/components/optimization/performance-wrapper.tsx
Due: frontend

Path conditions:
  frontend: any of: frontend/, but not: **/*_test.go, **/test_*.py, **/*.test.{js,jsx,ts,tsx}, **/mocks/**, **/vendor/**, **/node_modules/**
  backend: any of: backend/, services/courier-service/, but not: **/*_test.go, **/test_*.py, **/*.test.{js,jsx,ts,tsx}, **/mocks/**, **/vendor/**, **/node_modules/**
  write-service: any of: services/write-service/, but not: **/*_test.go, **/test_*.py, **/*.test.{js,jsx,ts,tsx}, **/mocks/**, **/vendor/**, **/node_modules/**
  ocr-service: any of: services/ocr-service/, but not: **/*_test.go, **/test_*.py, **/*.test.{js,jsx,ts,tsx}, **/mocks/**, **/vendor/**, **/node_modules/**
  admin-service: any of: services/admin-service/, but not: **/*_test.go, **/test_*.py, **/*.test.{js,jsx,ts,tsx}, **/mocks/**, **/vendor/**, **/node_modules/**
